# ===========================================
# POSTAL MAIL SERVER
# Configuration File (Production)
# ===========================================

general:
  use_ip_pools: false

web:
  host: linenarrow.com
  protocol: https

main_db:
  host: mariadb
  port: 3306
  username: postal
  password: 3d13ad32d93c33da6e3c9cc09e3525bca7f51c1a3a5fc908b6bcad451cf4567c
  database: postal
  pool_size: 5

message_db:
  host: mariadb
  port: 3306
  username: postal
  password: 3d13ad32d93c33da6e3c9cc09e3525bca7f51c1a3a5fc908b6bcad451cf4567c
  prefix: postal

rabbitmq:
  host: rabbitmq
  port: 5672
  username: postal
  password: 81b076b7a0216de1633a5dfbb7c41689
  vhost: postal

smtp_server:
  port: 25
  log_connect: true
  proxy_protocol: false
  ssl_mode: starttls
  max_message_size: 14680064

dns:
  mx_records:
    - linenarrow.com
  smtp_server_hostname: linenarrow.com
  return_path: rp.linenarrow.com
  route_domain: routes.linenarrow.com
  track_domain: linenarrow.com
  dkim_identifier: postal
  check_ptr: false

logging:
  rails_log: true
  log_level: info

rails:
  secret_key: 45fa5bf127ca8a633b091761a6f7ac5b8a13b783c02deb2b4246a31c3c67989f
  environment: production

smtp_client:
  open_timeout: 30
  read_timeout: 60
  helo_hostname: linenarrow.com

web_server:
  bind_address: 0.0.0.0
  port: 5000
